#!/usr/bin/env bash
if [ -f "/home/linuxbrew/.linuxbrew/bin/brew" ]; then
	eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

if [ -d "/mnt/Develop/Applications/" ]; then
	if [ -d "/mnt/Develop/Applications/Scripts/Portables" ]; then
		export PATH="$PATH:/mnt/Develop/Applications/Scripts/Portables"
	fi
	if [ -f "/mnt/Develop/Applications/Scripts/Portables/Homebrew" ]; then
		## Homebrew Conguration
		# shellcheck source=/dev/null
		source "/mnt/Develop/Applications/Scripts/Portables/Homebrew" shellenv
	fi
	if [ -d "/mnt/Develop/Applications/TeXLive/2023" ]; then
		export TEXLIVE="/mnt/Develop/Applications/TeXLive/2023"
		export PATH="$PATH:$TEXLIVE/bin/x86_64-linux"
		export MANPATH="$MANPATH:$TEXLIVE/texmf-dist/doc/man"
		export INFOPATH="$INFOPATH:$TEXLIVE/texmf-dist/doc/info"
	fi
fi
# export JAVA_HOME="/home/linuxbrew/.linuxbrew/Cellar/openjdk/20.0.2"
# export PLANTUML="/mnt/Developer/Documents/Textbooks/Src/Pandoc/Filter/lua-filters/diagram-generator/plantuml.jar"
# sudo pacman -Syu plantuml graphviz python-matplotlib asymptote
# export DOT="/usr/bin/dot"
# export DATADIR=/mnt/Developer/Documents/Textbooks/Src/Pandoc