@media print {
  @page {
    size: A5 portrait;
    /* size: A5 landscape; */
    /* size: A7; */
    /* marks:crop; */
    margin: 2mm;
    /* margin-bottom: 4.5mm; */
  }
}

@media screen {
  section.paper,
  div.paper {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: scroll;
    padding: 2mm;
    background-color: #fdfdfd;
  }
}

header {
  display: none;
}
