@layer utilities {
  body.prose-print {
    background-color: #71717b;
  }

  @media screen {
    .prose-print [data-papersize] {
      @apply bg-white text-black;
      box-sizing: border-box;
      box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.2),
        0 6px 20px rgba(0, 0, 0, 0.19);
      overflow: auto; /* Changed scroll to auto for cleaner UI */
      margin: 0.5em auto;
    }

    /* A4 - 210 x 297 mm */
    .prose-print [data-papersize="a4"],
    .prose-print [data-papersize="A4"] {
      width: 8.27in;
      height: 11.69in;
    }

    /* A4 Landscape */
    .prose-print [data-papersize="a4l"],
    .prose-print [data-papersize="A4L"] {
      width: 11.69in;
      height: 8.27in;
    }

    /* A5 - 148 x 210 mm */
    .prose-print [data-papersize="a5"],
    .prose-print [data-papersize="A5"] {
      width: 5.83in;
      height: 8.27in;
    }

    /* A6 - 105 x 148 mm */
    .prose-print [data-papersize="a6"],
    .prose-print [data-papersize="A6"] {
      width: 4.13in;
      height: 5.83in;
    }

    /* A7 - 74 x 105 mm */
    .prose-print [data-papersize="a7"],
    .prose-print [data-papersize="A7"] {
      width: 2.91in;
      height: 4.13in;
    }
  }
}
