@reference "../style.css";
@import "./fonts/FontStyle.css";
@import "./utils/ListStyle.css";
@import "./utils/PaperSize.css";
/* @import "./utils/TableStyle.css"; */
@import "./utils/Print.css";

@layer base {
  mark {
    background-color: transparent;
  }
}

@layer components {
  .answer {
    & mark {
      font-weight: bold;
      background-color: yellow;
      padding: 1mm;
    }
  }
  .prose-print {
    font-family:
      "Noto Sans Devanagari", "Noto Sans Math", "Noto Sans Symbols", sans-serif;
    font-weight: normal;
    font-size: 12pt;
    line-height: 1.2;
    margin: 0 !important;
    padding: 0 !important;
    & ol {
      list-style-type: decimal;
    }
    & ul,
    & ol {
      margin-left: 2.2em;
      & > li::marker {
        font-weight: bold;
      }
      & ul,
      & ol {
        margin-left: 1.2em;
      }
    }
    & .line-h-xs {
      line-height: 1.2 !important;
    }
    & .line-h-sm {
      line-height: 1.25 !important;
    }
    & .line-h-s {
      line-height: 1.3 !important;
    }
    & .line-h-m {
      line-height: 1.35 !important;
    }
    & .line-h-l {
      line-height: 1.4 !important;
    }
    & .line-h-lg {
      line-height: 1.45 !important;
    }
    & .line-h-xl {
      line-height: 1.5 !important;
    }

    &.prose-nb *,
    & .text-nb,
    & .font-size-nb * {
      font-size: 7.5pt !important;
    }
    &.prose-xs *,
    & .text-xs,
    & .font-size-xs * {
      font-size: 8pt !important;
      & sup {
        font-size: 7.25pt !important;
        margin-right: 0.8mm !important;
      }
      & sub {
        font-size: 7.25pt !important;
      }
      /* MathJaX */
      & .TEX-S1 {
        font-size: 1.5em !important;
      }
      & .mjx-c33 {
        font-size: 0.8em !important;
      }
    }
    &.prose-sm *,
    & .text-sm,
    & .font-size-sm * {
      font-size: 8.5pt !important;
      & ul,
      & ol {
        margin-left: 6.8mm;
        & ul,
        & ol {
          margin-left: 3mm;
        }
      }
      /* MathJaX */
      & .TEX-S1 {
        font-size: 1.5em !important;
      }
      & .mjx-c33 {
        font-size: 0.8em !important;
      }
    }
    &.prose-s *,
    & .text-s,
    & .font-size-s * {
      font-size: 9pt !important;
      & sup {
        font-size: 8pt !important;
        margin-right: 0.8mm !important;
      }
      & sub {
        font-size: 8pt !important;
      }
    }
    &.prose-m *,
    & .text-m,
    & .font-size-m * {
      font-size: 11pt !important;
    }
    &.prose-l *,
    & .text-l,
    & .font-size-l * {
      font-size: 12pt !important;
    }
    &.prose-lg *,
    & .text-lg,
    & .font-size-lg * {
      font-size: 13pt !important;
    }
    &.prose-xl *,
    & .text-xl,
    & .font-size-xl * {
      font-size: 14pt !important;
    }
    &.prose-2xl *,
    & .text-2xl,
    & .font-size-2xl * {
      font-size: 15pt !important;
    }
    &.prose-3xl *,
    & .text-3xl,
    & .font-size-3xl * {
      font-size: 16pt !important;
    }
    &.prose-4xl *,
    & .text-4xl,
    & .font-size-4xl * {
      font-size: 20pt !important;
    }
    &.prose-color {
      & h2,
      & h3,
      & h4,
      & h5,
      & h6 {
        color: oklch(39.3% 0.095 152.535);
      }
      & ol {
        & > li::marker {
          color: oklch(40.8% 0.123 38.172);
        }
      }
    }
    .non-color {
      color: black !important;
    }
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      font-weight: bold;
      text-align: center;
    }

    p {
      margin-left: 1mm;
      margin-right: 1mm;
    }

    & blockquote {
      margin-left: 1.5mm;
      margin-bottom: 1mm;
      margin-bottom: 0.5mm;
      text-wrap: wrap;
    }
    /* https://github.com/lorenzwoehr/supway.git */
    sup,
    sub {
      position: relative;
      vertical-align: baseline;
    }

    sup {
      font-size: calc(0.5em + 4px);
      top: calc(-0.7em + 2.79px);
    }

    sub {
      font-size: calc(0.5em + 4px);
      top: calc(0.33em - 1.33px);
    }
    & .score {
      float: right;
      margin-right: 1mm;
      font-weight: bold;
    }
    & mjx-container[jax="SVG"] svg {
      display: inline;
      margin-top: 1mm;
      margin-bottom: 1mm;
    }
    & .inline-math {
      & svg {
        display: inline;
      }
    }
    & .display-math {
      & svg {
        display: block;
      }
    }
    & ul[data-list-type="checkbox"],
    & ol[data-list-type="checkbox"] {
      list-style-type: checkbox;
    }
    & ul[data-list-type="circle"],
    & ol[data-list-type="circle"] {
      list-style-type: circle;
    }
    & ol[type="1"] {
      list-style-type: decimal;
    }
    & ol[type="a"s] {
      list-style-type: lower-alpha;
    }
    & ol[type="A"s] {
      list-style-type: upper-alpha;
    }
    & ol[type="i"s] {
      list-style-type: lower-roman;
    }
    & ol[type="I"s] {
      list-style-type: upper-roman;
    }
    & ol[type="1"][data-list-type="1"] {
      list-style-type: extend-decimal;
    }
    & ol[type="a"s][data-list-type="a"s] {
      list-style-type: extend-lalpha;
    }
    & ol[type="A"s][data-list-type="A"s] {
      list-style-type: extend-ualpha;
    }
    & ol[type="i"s][data-list-type="i"s] {
      list-style-type: extend-lroman;
    }
    & ol[type="I"s][data-list-type="I"s] {
      list-style-type: extend-uroman;
    }
    & ol[type="a"s][data-list-type="o"s] {
      list-style-type: circled-lalpha;
    }
    & ol[type="A"s][data-list-type="o"s] {
      list-style-type: circled-ualpha;
    }
    & ol[type="a"s][data-list-type="o"s],
    ol[type="A"s][data-list-type="o"s] {
      & > li::marker {
        font-size: 11pt !important;
      }
    }
    & ol[type="a"s][data-list-type="क"] {
      list-style-type: extend-devangari;
      /* & > li::marker {
        font-size: 9pt !important;
      } */
    }

    & [data-column] {
      column-rule: black solid 1.2pt;
      column-gap: 2pt;
    }
    & [data-column="2"] {
      column-count: 2;
    }
    & [data-column="span"] {
      column-span: all;
    }
    & [data-grid]:not([data-grid="flex"]) {
      display: grid;
      /* gap: 0 3.5mm; */
      vertical-align: middle;
      align-content: center;
      align-items: center;
      justify-content: space-between;

      padding: 0;
      margin: 0;
      margin-inline-start: 4.5mm;
      width: 100%;
    }
    & [data-grid="flex"] {
      display: flex;
      align-content: center;
      align-items: center;
      /* gap: 0.4mm 5mm; */
      justify-content: space-between;
      flex-wrap: wrap;
      margin-right: 1.5mm;
      padding: 0;
      margin-inline-start: 4.5mm;
    }

    & [data-inline-grid="1"],
    & [data-grid="1"] {
      grid-template-columns: repeat(1, 1fr);
    }
    & [data-grid="1r"] {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 2pt;
    }

    & [data-inline-grid="2"],
    & [data-grid="2"] {
      grid-template-columns: repeat(2, 1fr);
    }

    & [data-inline-grid="2"],
    & ol[data-grid="2"] {
      grid-template-columns: repeat(2, 1fr);
      /* row-gap: 1pt; */
    }
    & ol[data-grid="2r"] {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1pt;
    }

    & [data-inline-grid="3"],
    & [data-grid="3"] {
      grid-template-columns: repeat(3, 1fr);
    }

    & [data-grid="4"] {
      grid-template-columns: repeat(4, 1fr);
    }

    & [data-grid="4u"] {
      grid-template-columns: repeat(4, 1fr);
      margin-top: 1mm;
      margin-bottom: 1mm;
    }

    & [data-grid="5"] {
      grid-template-columns: repeat(5, 1fr);
    }

    & [data-grid="6"] {
      grid-template-columns: repeat(6, 1fr);
    }

    & [data-grid="7"] {
      grid-template-columns: repeat(7, 1fr);
    }

    & [data-grid="8"] {
      grid-template-columns: repeat(8, 1fr);
    }

    & [data-grid="9"] {
      grid-template-columns: repeat(9, 1fr);
    }

    & [data-grid="10"] {
      grid-template-columns: repeat(10, 1fr);
    }

    & [data-grid="11"] {
      grid-template-columns: repeat(11, 1fr);
    }

    & [data-grid="12"] {
      grid-template-columns: repeat(12, 1fr);
    }

    & [data-grid="13"] {
      grid-template-columns: repeat(13, 1fr);
    }

    & [data-grid="14"] {
      grid-template-columns: repeat(14, 1fr);
    }

    & [data-grid="15"] {
      grid-template-columns: repeat(15, 1fr);
    }

    & [data-grid="16"] {
      grid-template-columns: repeat(16, 1fr);
    }
    .color-red {
      color: oklch(44.4% 0.177 26.899);
    }
  }
}

@layer components {
  .prose-print {
    & table {
      /* margin: 0.25em 0; */
      padding-left: 0.2mm;
      border-collapse: collapse;
      /* width: 100%; */
      overflow-x: auto;
      display: table;
      /* display: block; */
      font-variant-numeric: lining-nums tabular-nums;
      & caption {
        margin-bottom: 0.1em;
        margin: 0;
        & img {
          vertical-align: middle;
        }
      }
      & th,
      & td {
        vertical-align: middle;
        border: 1px solid #000;
        padding: 0.2mm;
      }
      & .bar-graph {
        /* display: flex; */
        /* width: 100%; */
        margin-left: 0;
        padding-left: 0;
        & td {
          text-align: center;
        }
      }
    }
  }
}
