@layer FontStyle {
  @font-face {
    font-family: "Noto Sans Math";
    src: url("fonts/Noto_Sans_Math/NotoSansMath-Regular.ttf") format("truetype");
    font-weight: normal; /* Regular weight */
    font-style: normal; /* Normal style */
  }
  /* Noto Sans Devanagari */
  @font-face {
    font-family: "Noto Sans Devanagari";
    src: url("fonts/Noto_Sans_Devanagari/static/NotoSansDevanagari-Regular.ttf")
      format("truetype");
    font-weight: normal; /* Regular weight */
    font-style: normal; /* Normal style */
  }

  @font-face {
    font-family: "Noto Sans Devanagari";
    src: url("fonts/Noto_Sans_Devanagari/static/NotoSansDevanagari-SemiBold.ttf")
      format("truetype");
    font-weight: 600; /* SemiBold weight */
    font-style: normal; /* Normal style */
  }

  @font-face {
    font-family: "Noto Sans Devanagari";
    src: url("fonts/Noto_Sans_Devanagari/static/NotoSansDevanagari-Bold.ttf")
      format("truetype");
    font-weight: bold; /* Bold weight */
    font-style: normal; /* Normal style */
  }
  @font-face {
    font-family: "Noto Sans Devanagari";
    src: url("fonts/Noto_Sans_Devanagari/static/NotoSansDevanagari-Black.ttf")
      format("truetype");
    font-weight: 900; /* Bold weight */
    font-style: normal; /* Normal style */
  }

  @font-face {
    font-family: "Noto Sans Devanagari";
    src: url("fonts/Noto_Sans_Devanagari/static/NotoSansDevanagari-ExtraBold.ttf")
      format("truetype");
    font-weight: 800; /* ExtraBold weight */
    font-style: normal; /* Normal style */
  }
  /* Noto Sans Symbols */
  @font-face {
    font-family: "Noto Sans Symbols";
    src: url("fonts/Noto_Sans_Symbols/static/NotoSansSymbols-Regular.ttf")
      format("truetype");
    font-weight: normal; /* Regular weight */
    font-style: normal; /* Normal style */
  }

  @font-face {
    font-family: "Noto Sans Symbols";
    src: url("fonts/Noto_Sans_Symbols/static/NotoSansSymbols-SemiBold.ttf")
      format("truetype");
    font-weight: 600; /* SemiBold weight */
    font-style: normal; /* Normal style */
  }

  @font-face {
    font-family: "Noto Sans Symbols";
    src: url("fonts/Noto_Sans_Symbols/static/NotoSansSymbols-Bold.ttf")
      format("truetype");
    font-weight: bold; /* Bold weight */
    font-style: normal; /* Normal style */
  }
  @font-face {
    font-family: "Noto Sans Symbols";
    src: url("fonts/Noto_Sans_Symbols/static/NotoSansSymbols-Black.ttf")
      format("truetype");
    font-weight: 900; /* Bold weight */
    font-style: normal; /* Normal style */
  }

  @font-face {
    font-family: "Noto Sans Symbols";
    src: url("fonts/Noto_Sans_Symbols/static/NotoSansSymbols-ExtraBold.ttf")
      format("truetype");
    font-weight: 800; /* ExtraBold weight */
    font-style: normal; /* Normal style */
  }
}